# Writting your first program

**Note**: This cell is a markdown cell. Here you can write text. This is not interpreted as python code.

In [2]:
print("hello world")

hello world

# Variables and types

## Variables

Variables: Where you store something. In the below example:
```python
a = 10
```
a is the variable here which stores the value 10. 

Study marterials:
1. [Simple exercise](https://www.pythontutorial.net/python-basics/python-variables/) in this article
2. video (6mins): [Exercise on variables in this video](https://www.youtube.com/watch?v=cQT33yu9pY8)

Similarly we can store many variables as show below:

In [4]:
a = 1 # int
b = "hello" # string
c = 1e10 # scientific
d = 1.564 # float

print(a)
print(b)
print(c)
print(d)

1
hello
10000000000.0
1.564

Points to remember:

1. variable is storage address of the value in the computer memory

## Variable types

- interger denoted as `int`
- string denoted as `str`
- Float denoted as `float`
- boolean denoted as `bool`

For single line commenting in python code use '#'

In [1]:
a = 1 # int
b = "hello" # string
c = 1e10 # scientific
d = 1.564 # float

To know the type of the variable:

In [2]:
type(a)

int

In [4]:
## boolean
print(True, False)

True False

In [6]:
bool(0)

False

## Basic operators


The important operator are:

1. Arithmetic Operators are used in performing mathematical operations such as Addition, Subtraction, Multiplication, Division, Modulus, Floor Division, and Exponent.

![](https://miro.medium.com/max/700/1*CnFBU56b1HIsg2atttE_-Q.png)

2. Relational operators
3. Logical operators
4. Assignment operators
5. Identidy operators
6. Membership operators

So far we have covered only the arithmetic operators. We will in subsequent classes explore other types as well.

To know more about operators you can go through this [article](https://towardsdatascience.com/python-operators-from-scratch-a-beginners-guide-8471306f4278).

### Arithmetic operators

In [5]:
a =1
b =2
a+b
c=3
print(type(c))
print(c)

<class 'int'>
3

We can also multiply an integer with string to make it repeat itself N times

In [7]:
b = "hello" # string
b*3

'hellohellohello'

But if we try to multiply the string with float or add string with a number. Then it will show a type error:
```python
b = "hello" # string
b*3
b*d
```

output:
```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Input In [7], in <cell line: 1>()
----> 1 b*d

TypeError: can't multiply sequence by non-int of type 'float'
```

In [2]:
a =10
a*10

100

In [10]:
a = 5
a*10

50

In [14]:
a = 5
b = 10
a-b

-5

In [15]:
a = 5
b = 10
a*b

50

In [16]:
2**3

8

In [17]:
a = 10
a**5

100000

Operators on string:

In [18]:
"hello" + "world"

'helloworld'

In [19]:
"hello"+ " world"

'hello world'

In [20]:
"hello "*10

'hello hello hello hello hello hello hello hello hello hello '

**Note:** You cannot add string with a number, for example:

```python
"hello" + 1
```
similary:

```python
"1" + 1
```
output will be same:

```python
TypeError: can only concatenate str (not "int") to str
```

Converting the variables types from one type to another:

In [22]:
a = 1
c = float(a)
c

1.0

In [23]:
type(c), type(a)

(float, int)

In [24]:
f = 5.67845
type(f)

float

In [25]:
float(str(f)[0:4])*10

56.7

In [26]:
int(f)

5

In [27]:
round(f)

6

In [28]:
round(f,2)

5.68

In [30]:
int("1") + 1

2

In [31]:
32 % 5

2

In [32]:
32 // 5

6

## Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

`'hello'` is the same as `"hello"`.

Study materials:
1. Simple explanation on strings in this [Article](https://www.w3schools.com/python/python_strings.asp)
2. Read more in this [article](https://jayashree8.medium.com/understanding-python-strings-8783506a9a4a)

In [65]:
value = 6
report = "This is the final value " + str(value)
report

'This is the final value 6'

### String formatting

Placeholders:
- %s : string
- %d : number
- %f : float, %.2f

In [76]:
"This is the final value %d." % 3

'This is the final value 3.'

In [77]:
name = "your name"
"This is the final value %s." % name

'This is the final value your name.'

In [78]:
calc = 3.53675467
"This is the final value %d. And another value is %.3f" % (value, calc)

'This is the final value 6. And another value is 3.537'

### String methods

By default every string object in python has in-built functions. With those functions we can manupulate the strings:

![](https://miro.medium.com/max/473/1*b0qeZYW-2MeEbG-lSbDogA.gif)

- Here is a very good [Article](https://towardsdatascience.com/15-must-know-python-string-methods-64a4f554941b) on python string methods. You can practice from here. 
- Here is a [list](https://www.w3schools.com/python/python_strings_methods.asp) of methods of python string object

In [91]:
text = "This is a SAmple text \n This is a new line"
text2 = "This is a SAmple text    "
print(text)

This is a SAmple text
 This is a new line

In [92]:
text2.lower()

'this is a sample text    '

In [93]:
text2.upper()

'THIS IS A SAMPLE TEXT    '

In [94]:
text2.strip()

'This is a SAmple text'

In [95]:
text.startswith("t")

False

In [96]:
text.startswith("T")

True

In [99]:
csv_values = "1,3,4,5,6,7"
list1 = csv_values.split(",")
print(type(list1))
print(list1)

<class 'list'>
['1', '3', '4', '5', '6', '7']

In [103]:
value = ",".join(list1)
print(type(value))
print(value)

<class 'str'>
1,3,4,5,6,7

# Markdown language in Jupyter notebook (optional)

*Markdown is an easy-to-use markup language that is used with plain text to add formatting elements (headings, bulleted lists, URLs) to plain text without the use of a formal text editor or the use of HTML tags. Markdown is device agnostic and displays the writing format consistently across device types*

In simple words, it is a language we can write easy-to-understand documents, for example:

![](https://miro.medium.com/max/1050/0*lzRmzAy5OICef7rK.png)

Left hand side is the markdown language and the right hand is what is looks like when displayed. In jupyter notebook you can display it by running a markdown cell

# Heading 1
## Heading 2
### Heading 3