![](https://i.morioh.com/2020/02/13/1b9be013bc43.jpg)
# Chapter 2

outline

- Strings are list
- what are list and tuples?
- for loops

# Python Strings are list

![](https://www.alphacodingskills.com/python/img/python-string.png)


String slicing: 
[Read more on string slices](https://developers.google.com/edu/python/strings#string-slices)

In [4]:
text = "Hello"
text[0]

'H'

In [5]:
text[1]

'e'

In [6]:
text[0:3]

'Hel'

In [7]:
text[-1]

'o'

In [9]:
text[-3:-1]

'll'

In [10]:
text[-3:]

'llo'

In [11]:
len(text)

5

## List and tuple

1. what are python `list`?
![](https://pynative.com/wp-content/uploads/2021/03/python-list.jpg)

2. what are python `tuple` ?
![](https://pynative.com/wp-content/uploads/2021/02/python-tuple.jpg)

## Initiating List and indexing

In [12]:
[1,2,3,4,5,6,7,8,9,10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
a = [1,2,3,4,5,6,7,8,9,10]
a[0]

1

In [14]:
a[5]

6

In [15]:
a[-1] = 999
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 999]

## Initiating tuple and indexing

In [3]:
(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**Note:** It is important to note that since tuple are immutable objects, it cannot be modified

```python
b = (1,2,3,4,5,6,7,8,9,10)
b[0] = 999
```

output:

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-17-c9562e655aa2> in <module>
      1 b = (1,2,3,4,5,6,7,8,9,10)
----> 2 b[0] = 999

TypeError: 'tuple' object does not support item assignment
```

In [4]:
b[0]

1

In [19]:
["a", "b", "c", "d"]

['a', 'b', 'c', 'd']

Checking the length or the count of the list/tuple

In [20]:
len(b)

10

## List and Tuple are hetergeneous:

It can store any data type inside of it. It can also store duplicates unlike python `set`

In [22]:
["a", "b", "c", "d", 1,2,3,4,5, True, 1e10, 0.99174]

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, True, 10000000000.0, 0.99174]

In [24]:
("a", "b", "c", "d", 1,2,3,4,5, True, 1e10, 0.99174)

('a', 'b', 'c', 'd', 1, 2, 3, 4, 5, True, 10000000000.0, 0.99174)

In [54]:
b = ["a", "b", "c", "d", 1,2,3,4,5, True, 1e10, 0.99174, [1,2,3]]
b

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, True, 10000000000.0, 0.99174, [1, 2, 3]]

In [55]:
b[-1]

[1, 2, 3]

In [59]:
table = [[1,9999,4], [1,2,4], [1,2,4], [1,2,4], [1,2,4]]
table[0][1]

9999

## Appending and dropping members to/from list

In [5]:
a = []
a.append(10)
a.append(120)
a.append(190)
a.append(19)
a

[10, 120, 190, 19]

In [38]:
a.pop(2)
a

[10, 120]

In [42]:
a = [10, 120, 190, 19]
a.insert(0, 99)
a

[99, 10, 120, 190, 19]

In [51]:
a = [10, 120, 190, 19]
a.insert(-1, 1000)
a

[10, 120, 190, 1000, 19]

In [45]:
a.clear()
a

[]

In [52]:
del a[0:3]
a

[1000, 19]

In [50]:
a

[120, 190, 1000, 19]

## Sorting a list/tuple

In [9]:
c = [10,7,8,3,2,1,2,5]
sorted(c)

[1, 2, 2, 3, 5, 7, 8, 10]

In [10]:
c = [10,7,8,3,2,1,2,5]
sorted(c, reverse=True)

[10, 8, 7, 5, 3, 2, 2, 1]

## Appending a list to another list

use `extend()` function:

The extend() method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list

1. [For more information and practice on python list](https://pynative.com/python-lists/)
2. [More information and practice on python tuple](https://pynative.com/python-tuples/)

In [90]:
a = [1,2,3,4]
b = [10,20,30,40]
a.extend(b)
a

[1, 2, 3, 4, 10, 20, 30, 40]

## Conclusion

There are many other different functionalities in python `list`

You can explore more and practice with the given examples [here](https://www.programiz.com/python-programming/methods/list)

# Python `range()`

The range() is a built-in function that returns a range object that consists series of integer numbers, which we can iterate using a for loop.

In Python, Using a for loop with range(), we can repeat an action a specific number of times.

Python range() function generates the immutable sequence of numbers starting from the given start integer to the stop integer

Range syntax:
```python
range(start, stop[, step])
```

[Read more on range() function and practice exercises](https://pynative.com/python-range-function/)

In [11]:
range(1,10,1)

range(1, 10)

To display the elements of the range, put the range inside of `list` function

In [12]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

3rd element in range function is the step/increment:

In [13]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [14]:
list(range(0,10+1,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
list(range(-10,1,1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [87]:
list(range(-10,-20,-1))

[-10, -11, -12, -13, -14, -15, -16, -17, -18, -19]

In [88]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# For loops in python

How does for loop work? a simple example: Printing each value in the list:
![](https://dq-blog-files.s3.amazonaws.com/list-tutorial/py1m2_loops.gif)


For loop with range():

![](https://pynative.com/wp-content/uploads/2021/06/for-loop-range.png)

In [93]:
a = []
for i in range(10):
    a.append(i)   
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
for i in range(-10,-20,-1):
    print(i)

-10
-11
-12
-13
-14
-15
-16
-17
-18
-19

In [99]:
a = 0
for i in range(1,10+1):
    a = a + i
a

55

In [101]:
a == 1

True

In [109]:
a = 10
if a == 10:
    print(a)
if a == 10:
    print(a)
else:
    print("It is not equal to 1")

10
10

In [ ]:
if a == 10:
    print(a)

In [107]:
a = 5
if a == 1:
    print(a)
elif a > 5:
    print("greater than 5")
elif a > 4:
    print("greater that 4")
else:
    print("None")

greater that 4

In [110]:
text = 'hello world'
if text is str:
    print("this is new text")